@model MyApp.Models.ViewModels.Cart
<h1>Product Details</h1>
<form method="post">
    <div class="row">
        <div class="col-4">
            <img src="@Model.Product.ImageUrl" width="200" height="200"/>
        </div>
        <div class="col-8">
            <div class="row">
                <label asp-for="Product.Name">Product.Name: @Model.Product.Name</label>
                <label asp-for="Product.Description">Product Description: @Model.Product.Description</label>
                <label asp-for="Product.Price">Product Price: @Model.Product.Price.ToString("0.00")</label>
               @if (Model.Product != null)
{
    @if (Model.Product.Category != null)
    {
        <label asp-for="Product.Category.Id">Product Category: @Model.Product.Category.Name</label>
    }
    else
    {
        <p>No category available for this product.</p>
    }
}
            </div>
        </div>
    </div>
</form>